@import "src/colors";
@import "src/grid";

$btn-round-size: 40px;

body {
  background: url("/images/wave.svg") no-repeat;
  background-size: cover;
}

.icon-list {
  .item {
    display: flex;
    align-items: center;
    padding: 4px;

    i {
      margin-right: 8px;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.btn-round-row {
  display: flex;
  flex-wrap: wrap;
  width: 70%;

  margin: 0 -6px;

  a {

    margin: 6px 6px;
  }
}

.btn-round {
  border-radius: 50%;
  width: $btn-round-size;
  height: $btn-round-size;

  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 70%;

  margin: 0 -6px;

  .item {
    border-radius: .25rem;
    padding: 2px 8px;
    color: $custom-white;
    background-color: $custom-gray;

    margin: 6px 6px;
  }
}

.projects {
  padding: 64px;

  .project-cards {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;

    .card {
      border-radius: 16px;
      transition: 0.3s;

      .header {
        display: flex;
        align-items: center;

        .header-img {
          height: 100px;
          margin-right: 16px;
        }

        h4 {
          font-weight: bold;
        }
      }

      p {
        margin: 0;
      }
    }

    .card:hover {
      transform: scale(1.02);
    }
  }
}

.education {
  h4 {
    font-weight: bold;
  }
}

@media only screen and (max-width: 992px) {
  br {
    display: none;
  }

  .projects {
    padding: 16px;

    .project-cards {
      grid-template-rows: auto auto auto;
      grid-template-columns: 100%;
      grid-gap: 3%;

      .header {
        margin-bottom: 8px;

        .header-img {
          height: 50px !important;
        }

        h4 {
          margin: 0;
        }
      }

      hr {
        display: none;
      }
    }
  }
}
