$custom-white: #FFFFFA;
$custom-white-dark: #f1f1f1;

$custom-gray: #393E41;
$custom-gray-light: #888b8d;
$custom-gray-dark: #222527;

$custom-red: #F71735;
$custom-red-light: #fa7385;
$custom-red-dark: #940d1f;

$color-linkedin: #006192;
$color-github: #666666;
$color-instagram: #DD2A7B;

$color-drive: #1FA463;

.btn-linkedin {
  color: white;
  background-color: $color-linkedin;
}

.btn-github {
  color: white;
  background-color: $color-github;
}

.btn-instagram {
  color: white;
  background-color: $color-instagram;
}

.btn-download {
  color: white;
  background-color: $custom-gray;
}

.btn-drive {
  color: white;
  background-color: $color-drive;
}
